
.kmikiy-section {
    padding: 20px 10px 20px 10px;
    color: #aaaaaa;
    background: #121212;
}

html {
    background: #010101;
    height: 100%;
    box-sizing: border-box;
}

body {
    background-image:url("https://github.com/kmikiy/SpotMenu/raw/master/assets/images/mbr-1-1620x1080.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100%;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
}

@font-face {
    font-family: "Ostrich Sans Light";
    src: url("../fonts/ostrich-sans-light.ttf");
}

@font-face {
    font-family: "Ostrich Sans Regular";
    src: url("../fonts/ostrich-sans-regular.ttf");
}

@font-face {
    font-family: "Cousine Regular";
    src: url("../fonts/Cousine-Regular.ttf");
}

.miklos-kristyan{
    font-family: "Cousine Regular";
    font-size: 3.25em;
    padding: 0px 5px 0px 5px;
}

section {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding-top:4em;
}

.soc-item {
    padding: 0px 5px 0px 5px;
}

.socicon {
    margin: 0px 0px 5px 5px;
}

@media (max-width: 500px) {
    .social-media-text {
      display: none;
    }
}

.container {
    width:100%;
}

.content-width {
    display: inline-block;
}

.media-container-row {
    display: flex;
    width: 50%;
    margin: 0 auto;
}

.social-media-container-row {
    display: flex;
    font-family: "Cousine Regular";
}

a, a:hover {
    color: #149dcc;
    text-decoration: none;
}

a {
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}

.footer {
     position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem; 
    text-align: center;
}

.center-content {
    text-align: center;
}

  
*,
*:before,
*:after {
box-sizing: inherit;
}
